<main class="w-[63%] h-full mx-auto bg-gray-900 text-gray-100 sticky ">

    <div class="flex justify-between">
        <!--        <app-sub-category-sidebar class="w-[20%] border border-gray-700"></app-sub-category-sidebar>-->

        <div class="w-[20%] ">
            <div class="p-8 text-center text-xl font-bold text-gray-200 ">Username</div>
            <div>
                <a routerLink="/orders"
                    class="p-4 flex gap-2 items-center cursor-pointer
                            bg-gray-700 text-blue-300">
                    <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                    <span>My Orders</span>
                </a>
                <a routerLink="/addresses"
                    class="p-4 flex gap-2 items-center bg-gray-800 text-gray-200 cursor-pointer
                            hover:bg-gray-700 hover:text-blue-300">
                    <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                    <span>My Addresses</span>
                </a>
            </div>
        </div>

        <div class="w-[80%] border"></div>


    </div>

</main>
