<h1>Demo Router</h1>

<ul>
  <li><a class="routing-btn" routerLink="/first-comp" routerLinkActive="active-routing-btn"  [routerLinkActiveOptions]="{exact: true}">First Component</a></li>
  <li><a class="routing-btn" routerLink="/second-comp" routerLinkActive="active-routing-btn">Second Component</a></li>
  <li><a class="routing-btn" routerLink="/third-comp" routerLinkActive="active-routing-btn">Third Component</a></li>
</ul>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

