<div class="w-[500px] h-[500px] mx-auto mt-40 flex flex-col border">

    <!-- Play Area -->
    <div class="w-full h-[90%] ">

        <app-choose-level *ngIf="this.gameStatus === GameStatus.NOT_STARTED"></app-choose-level>

<!--        <app-loading-screen *ngIf="this.gameStatus === GameStatus.LOADING"></app-loading-screen>-->

        <app-game-board *ngIf="this.gameStatus === GameStatus.IN_PROGRESS"></app-game-board>

    </div>

    <!-- Scoreboard -->
    <div class="h-[10%]">
        <app-scoreboard></app-scoreboard>
    </div>

</div>
