<div class="my-4 flex flex-col gap-8 bg-gray-900 text-gray-200">
    <div class="flex gap-10 justify-center items-center">
        <span>© Blink Commerce Private Limited, 2016-2025</span>
        <div class="flex gap-8">
            <div class="flex gap-4 items-center">
                <span>Download App</span>
                <!--  Download from App Store  -->
                <div class="w-20 h-8 flex justify-center border border-gray-700">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
                <!--  Download from Play Store  -->
                <div class="w-20 h-8 flex justify-center border border-gray-700">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
            </div>

            <!--  Social Media Logos  -->
            <div class="flex gap-8">
                <!--  FB Logo  -->
                <div class="w-8 h-8 rounded-full ">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
                <!--  X Logo  -->
                <div class="w-8 h-8 rounded-full ">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
                <!--  Insta Logo  -->
                <div class="w-8 h-8 rounded-full ">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
                <!--  LinkedIn Logo  -->
                <div class="w-8 h-8 rounded-full ">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
                <!--  Threads Logo  -->
                <div class="w-8 h-8 rounded-full ">
                    <img class="w-8 h-8" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </div>
            </div>
        </div>

    </div>
    <div class="mx-4">
        <span>“Blinkit” is owned & managed by "Blink Commerce Private Limited" and is not related, linked or interconnected in whatsoever manner or nature, to “GROFFR.COM” which is a real estate services business operated by “Redstone Consultancy Services Private Limited”.</span>
    </div>
</div>
