.cards-section {
    width: 100%; /* Add extra 24px for the gap after the last card */
    margin-top: 16px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    /* Todo: Extra Gap after last card & Remove Horizontal Scrollbar from Entire Page*/
}

.card-container {
    flex: 1 0 auto; /* Allow cards to flex in size */
    max-width: calc(50% - 12px); /* Half of the available space with gap */
}

.card-header {
    width: 100%;
}

.card-img-wrapper {
    width: 100%;
    position: relative;
}

.card-img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.card-btn-guest-fav {
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.card-fav-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.card-fav-icon:hover {
    /*transition: transform 0.25s cubic-bezier(0.2,0,0,1);*/
    /* Todo: Fix Transition Effect */
}

.card-next-img-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
    border-radius: 50%;
    border: none;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-next-img-btn:hover {
    background-color: white;
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 2px 4px rgba(0, 0, 0, 0.18);
}

.card-prev-img-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    border-radius: 50%;
    border: none;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-prev-img-btn:hover {
    background-color: white;
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 2px 4px rgba(0, 0, 0, 0.18);
}

.card-next-and-prev-img {
    width: 12px;
    height: 12px;
}

.card-footer {
    font-size: 15px;
    padding: 10px 0;
}

.place-and-rating-wrapper {
    display: flex;
    justify-content: space-between;
}

.place-name {
    font-weight: bold;
}

.rating-wrapper {
    display: flex;
    gap: 5px;
}

.rating-icon {
    width: 12px;
}

.distance-away, .date-available {
    color: #717171;
}

.price-wrapper {
    margin-top: 6px;
}