/.idea
/node_modules/
/package-lock.json
/Notes/Prompts/
/Practice/Typescript/intermediate/asynchronous/callback-hell/

/Projects/java-backend/.idea/
/Projects/java-backend/projects/g-mart/db/.idea/
/Projects/java-backend/projects/g-mart/.gradle/
/Projects/java-backend/projects/g-mart/build/
