<div class="relative">

  <div class="w-full h-[866px] bg-cover bg-center bg-no-repeat relative"
       style="background-image: url('assets/thekitchenandbar/01-bg-2.jpg')">
    <div class="absolute inset-0 bg-black opacity-10"></div>
    <div class="h-fit flex flex-col justify-center items-center relative z-10">
      <img src="assets/thekitchenandbar/02-kitchen-logo-3.png" alt="The Kitchen & Bar Logo"
           class="w-[200px] h-[200px] mt-16">
      <p class="w-[137px] h-[18px] my-[27px] text-white">Serving Since 2024</p>
    </div>
  </div>

</div>
