<div class="m-4 flex gap-4">
    <button
        [ngClass]="{
            'p-2 border rounded-md font-medium transition-all duration-300 ease-in-out': true,
            'bg-gray-900 text-gray-300 border-gray-700 hover:bg-gray-800 hover:text-gray-100': this.categoryId !== category.getId(),
            'bg-blue-600 text-white border-blue-600 shadow-lg': this.categoryId === category.getId()
        }"
        routerLink="/shopping" [queryParams]="{ categoryId: category.getId() }"
        (click)="onCategoryBtnClick(category)"
        *ngFor="let category of this.visibleCategoryList">
        {{ category.getName() }}
    </button>
    <!--        <app-options-menu></app-options-menu>-->

</div>
<!--
            routerLinkActive="bg-blue-500 text-blue-300 border-blue-500"
-->
