<div class="m-4 flex gap-4">
    <button class="p-2 bg-gray-800 text-gray-200 border border-gray-700 rounded hover:bg-gray-700 hover:text-blue-300"
            routerLink="/shopping" [queryParams]="{ categoryId: category.getId() }"
            [ngClass]="{
                'bg-blue-500 text-blue-300 border-blue-500': this.categoryId === category.getId(),
            }"
            (click)="onCategoryBtnClick(category)"
            *ngFor="let category of this.visibleCategoryList">
        {{ category.getName() }}
    </button>
    <!--        <app-options-menu></app-options-menu>-->

</div>
<!--
            routerLinkActive="bg-blue-500 text-blue-300 border-blue-500"
-->
