<h3>String Interpolation:<em>{{ name }} is {{ getAge() }} {{ 'years' }} old.</em></h3>

<p>Note: Expression enclosed by {{ 'expr' }} must return String or object that can be converted to String.</p>

<div>
  <p [innerText]="'Property Binding - ' + name"></p>
  <p [attr.aria-label]="'Name'">Attribute Binding.</p>
  <p [class.active]="isActive">Class Binding:</p>
  <p [style.color]="color">>Style Binding:</p>

  <!--
      Event binding enables the view to respond to user actions by invoking methods defined in the component.
      It allows html onSomething properties to be enclosed within () without 'on' followed by typescript expression.
      Example: onClick property -> (click)="onBtnClick()"
  -->
  <button class="btn btn-info m-1" [disabled]="disableAgePlus" (click)="incrementAge()">+</button>
  <button class="btn btn-danger m-1" [disabled]="disableAgeMinus" (click)="decrementAge()">-</button>
  <p>Age: {{ getAge() }}</p>

  <!--  Two-way Binding - Not Working! -->
  <label for="#input1"></label>
  <input id="#input1" type="text" [(value)]="name">

</div>
