<div class="h-full flex justify-center items-center ">
    <div class="space-y-4 flex flex-col gap-4 items-center  ">
        <span class="text-yellow-500 text-6xl">SNAKE</span>

        <span class="text-3xl">Choose Level:</span>

        <div class="flex gap-6 text-4xl">
            <button class="p-4 border rounded-xl hover:bg-gray-800 hover:text-green-500">Slug</button>
            <button class="p-4 border rounded-xl hover:bg-gray-800 hover:text-green-500">Worm</button>
            <button class="p-4 border rounded-xl hover:bg-gray-800 hover:text-green-500">Python</button>
        </div>
    </div>
</div>
