<!--  Shopping Cart  -->
<div class="">
    <a class="flex items-center">
        <div class="w-full h-full p-2 flex gap-2 items-center rounded-lg bg-gray-800 hover:bg-gray-700">
            <div class="px-2 flex justify-center items-center gap-2">
                <div class="w-8 h-8">
                    <img class="w-full h-full" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                </div>
                <div *ngIf="shoppingCart.getItemCount() > 0; else emptyCart"
                     (click)="toggleShoppingCart()"
                     class="flex flex-col gap-0 text-sm font-semibold cursor-pointer text-white">
                    <span>{{ shoppingCart.getItemCount() }} Items</span>
                    <span>₹{{ shoppingCart.getTotalPrice() }}</span>
                </div>
                <ng-template #emptyCart>
                    <span class="text-white">Empty Cart</span>
                </ng-template>
            </div>
        </div>
    </a>
</div>

<!-- Backdrop -->
<div *ngIf="isShoppingCartOpen" class="fixed inset-0 bg-black bg-opacity-50 z-40" (click)="closeShoppingCart()"></div>

<app-info-popup-host></app-info-popup-host>

<!-- Right Panel Cart -->
<div class="fixed top-0 right-0 h-full w-1/5 bg-gray-900 text-white shadow-xl transition-transform
            duration-300 z-50 border-l-2 border-gray-700"
     [ngClass]="{ 'translate-x-0': isShoppingCartOpen, 'translate-x-full': !isShoppingCartOpen }">
    <div class="h-full flex flex-col">

        <!-- Scrollable content -->
        <div class="flex-1 overflow-y-auto">

            <!-- Header -->
            <div class="p-4 flex justify-between items-center border-b border-gray-700">
                <h2 class="text-lg font-bold">My Cart</h2>
                <button (click)="closeShoppingCart()" class="text-2xl hover:text-cyan-400 focus:outline-none">×</button>
            </div>

            <!-- Total Savings Section -->
            <div class="m-2 p-2 bg-gray-800 border-gray-700 rounded-lg">
                <div class="flex justify-between items-center px-2 text-cyan-400">
                    <span class="text-sm font-medium">Your total savings</span>
                    <span class="text-sm font-medium">₹{{ shoppingCart.getTotalDiscount() }}</span>
                </div>
            </div>

            <!-- Delivery and Products Section (Single Bubble) -->
            <div class="m-2 p-2 bg-gray-800 border-b border-gray-700 rounded-lg">
                <!-- Delivery Info -->
                <div class="mb-6 px-2 flex items-center gap-2">
                    <div class="w-12 h-12 flex justify-center items-center bg-gray-700 rounded-lg">
                        <div class="w-8 h-8">
                            <svg class="w-full h-full text-cyan-400" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <span class="text-sm font-semibold">Delivery in 30 minutes</span>
                        <p class="text-xs text-gray-400">Shipment of {{ shoppingCart.getItemCount() }} items</p>
                    </div>
                </div>
                <!-- Product List -->
                <div class="space-y-6">
                    <div *ngFor="let cartItem of shoppingCart.getCartItems()" class="flex items-start justify-between">
                        <div class="flex items-start gap-3">
                            <img src="/assets/icons/01-sample-icon.svg" alt="{{ cartItem.getProduct().getName() }}"
                                 class="w-20 h-20 object-cover rounded">
                            <div class="w-3/4 flex-1">
                                <p class="text-sm font-medium break-words">{{ cartItem.getProduct().getName() }}</p>
                                <p class="text-sm text-gray-400">{{ cartItem.getProduct().getProductUnitValue() }}
                                    {{ cartItem.getProduct().getProductUnitLabel() }}</p>
                                <div class="flex items-center gap-2">
                                    <span class="text-sm font-semibold">
                                        ₹{{ cartItem.getSubTotalPrice() }}
                                    </span>
                                    <span class="text-gray-400 line-through">
                                        ₹{{ cartItem.getProduct().getPrice() * cartItem.getQuantity() }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Quantity Control (Smaller Single Box Layout) -->
                        <div class="flex items-center bg-gray-700 rounded p-2">
                            <button (click)="decrementQuantity(cartItem)"
                                    class="text-white hover:text-cyan-400 focus:outline-none mx-1">
                                <svg class="w-3 h-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"/>
                                </svg>
                            </button>
                            <span class="text-xs font-medium mx-1">{{ cartItem.getQuantity() }}</span>
                            <button (click)="incrementQuantity(cartItem)"
                                    class="text-white hover:text-cyan-400 focus:outline-none mx-1">
                                <svg class="w-3 h-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 4v16m8-8H4"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bill Details Section -->
            <div class="m-2 p-2 bg-gray-800 border-b border-gray-700 rounded-lg">
                <h3 class="mb-2 px-2 text-sm font-semibold">Bill details</h3>
                <div class="px-2 space-y-2 text-sm">
                    <div class="flex justify-between">
                        <div class="flex gap-2 items-center">
                            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                            <span>Subtotal</span>
                            <!-- Toggle Dropdown Btn -->
                            <button class="text-xs text-gray-400 hover:text-cyan-400 focus:outline-none"
                                    (click)="toggleSubtotalDropdown()">
                                <!--<span>v</span>-->

                                <ng-container *ngIf="!isSubtotalDropdownOpen; else closeIcon;">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="w-4 h-4 inline-block"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M19 9l-7 7-7-7"/>
                                    </svg>
                                </ng-container>
                                <ng-template #closeIcon>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="w-4 h-4 inline-block"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M5 15l7-7 7 7"/>
                                    </svg>
                                </ng-template>

                            </button>
                            <span class="text-green-400 text-xs">Saved ₹{{ shoppingCart.getTotalDiscount() }}</span>
                        </div>
                        <div class="flex items-center gap-1">
                            <span class="text-gray-400 line-through">₹{{ shoppingCart.getTotalMRP() }}</span>
                            <span>₹
                                {{
                                    shoppingCart.getMultipleChargesModel().getIsFeedIndiaChargeApplied()
                                        ? shoppingCart.getSubTotalPrice() + MultipleChargesModel.FEED_INDIA_DONATION_CHARGE
                                        : shoppingCart.getSubTotalPrice()
                                }}
                            </span>
                        </div>
                        <!--                        <span>₹{{ shoppingCart.getSubTotalPrice() }}</span>-->
                    </div>

                    <!-- Subtotal Dropdown Active -->
                    <div *ngIf="isSubtotalDropdownOpen" class="ml-4 text-gray-400">
                        <div class="flex justify-between">
                            <span>MRP</span>
                            <span>₹{{ shoppingCart.getTotalMRP() }}</span>
                        </div>
                        <div *ngIf="isFeedingIndiaChecked" class="flex justify-between">
                            <span>Feeding India donation</span>
                            <span>₹1</span>
                        </div>
                        <div class="flex justify-between">
                            <span>Product Discount</span>
                            <span class="text-green-400">-₹{{ shoppingCart.getTotalDiscount() }}</span>
                        </div>
                    </div>

                    <div class="flex justify-between">
                        <div class="flex gap-2 items-center">
                            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                            <span>Handling charge</span>
                            <button (click)="openInfoPopup(InfoPopupType.HANDLING)">
                                <svg class="w-4 h-4 text-cyan-400" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z"/>
                                </svg>
                            </button>
                        </div>
                        <span>₹{{ MultipleChargesModel.HANDLING_CHARGE }}</span>
                    </div>
                    <div *ngIf="this.shoppingCart.getMultipleChargesModel().getIsDeliveryChargeApplied()"
                         class="flex justify-between">
                        <div class="flex gap-2 items-center">
                            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                            <span>Delivery charge</span>
                            <button (click)="openInfoPopup(InfoPopupType.DELIVERY)">
                                <svg class="w-4 h-4 text-cyan-400" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z"/>
                                </svg>
                            </button>

                        </div>
                        <span>₹{{ MultipleChargesModel.DELIVERY_CHARGE }}</span>
                    </div>
                    <div *ngIf="this.shoppingCart.getMultipleChargesModel().getIsSmallCartChargeApplied()"
                         class="flex justify-between">
                        <div class="flex gap-2 items-center">
                            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                            <span>Small cart fee</span>
                            <button (click)="openInfoPopup(InfoPopupType.SMALL_CART)">
                                <svg class="w-4 h-4 text-cyan-400" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z"/>
                                </svg>
                            </button>
                        </div>
                        <span>₹{{ MultipleChargesModel.SMALL_CART_CHARGE }}</span>
                    </div>
                    <div *ngIf="this.shoppingCart.getMultipleChargesModel().getIsHighDemandSurgeChargeApplied()"
                         class="flex justify-between">
                        <div class="flex gap-2 items-center">
                            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                            <span>High demand surge charge</span>
                            <button (click)="openInfoPopup(InfoPopupType.HIGH_DEMAND_SURGE)">
                                <svg class="w-4 h-4 text-cyan-400" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z"/>
                                </svg>
                            </button>
                        </div>
                        <span>₹{{ MultipleChargesModel.HIGH_DEMAND_SURGE_CHARGE }}</span>
                    </div>
                    <div *ngIf="this.shoppingCart.getMultipleChargesModel().getIsTipApplied()"
                         class="flex justify-between">
                        <div class="flex gap-2 items-center">
                            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="cart-icon">
                            <span>Tip for your delivery partner</span>
                        </div>
                        <span>₹{{ shoppingCart.getTipAmount() }}</span>
                    </div>
                    <div class="flex justify-between font-semibold mt-2 border-t border-gray-700 pt-2">
                        <span>Grand total</span>
                        <span>₹{{ shoppingCart.getTotalPrice() }}</span>
                    </div>
                </div>
                <p *ngIf="shoppingCart.getMultipleChargesModel().getIsDeliveryChargeApplied()"
                   class="text-xs text-cyan-400 mt-2 px-2">
                    Shop for ₹{{ MultipleChargesModel.THRESHOLD_FOR_DELIVERY_CHARGE - shoppingCart.getSubTotalPrice() }}
                    or more to save ₹{{ MultipleChargesModel.DELIVERY_CHARGE }} on delivery charge
                </p>
                <hr class="mt-2 border-gray-700">
                <!-- Total Savings Section -->
                <div class="px-2 pt-1 bg-gray-800 border-gray-700 rounded-lg">
                    <div class="flex justify-between items-center text-sm font-medium text-cyan-400">
                        <span>Your total savings</span>
                        <span>₹{{ shoppingCart.getTotalDiscount() }}</span>
                    </div>
                </div>
                <div class="px-2 pt-1 flex justify-between items-center bg-gray-800 border-gray-700 rounded-lg">
                    <span class="text-xs text-cyan-400">No surge charge for orders above
                        ₹{{ MultipleChargesModel.THRESHOLD_FOR_HIGH_DEMAND_SURGE_CHARGE }}</span>
                </div>
            </div>

            <!-- Feeding India Donation Section -->
            <div class="m-2 p-2 bg-gray-800 border-b border-gray-700 rounded-lg">
                <div class="flex items-center gap-2 px-2">
                    <div class="w-5 h-5">
                        <svg class="w-full h-full text-cyan-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0
                              00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                        </svg>
                    </div>
                    <div class="flex-1">
                        <p class="text-sm font-medium">Feeding India donation</p>
                        <p class="text-xs text-gray-400">
                            Working towards a malnutrition free India.
                            <button class="underline text-cyan-400" (click)="openInfoPopup(InfoPopupType.FEED_INDIA)">
                                read more
                            </button>
                        </p>
                    </div>
                    <label class="flex items-center gap-1">
                        <input type="checkbox"
                               (click)="toggleFeedingIndiaDonation($event)"
                               class="form-checkbox h-4 w-4 text-cyan-400">
                        <span class="text-xs">₹{{ MultipleChargesModel.FEED_INDIA_DONATION_CHARGE }}</span>
                    </label>
                </div>
            </div>

            <!-- Tip your delivery partner Section -->
            <div class="m-2 px-4 py-2 bg-gray-800 border-b border-gray-700 rounded-lg">
                <div class="flex">
                    <p class="text-sm font-medium">Tip your delivery partner</p>
                    <div *ngIf="shoppingCart.getMultipleChargesModel().getIsTipApplied()"
                         class="ml-auto flex items-center gap-2 text-sm">
                        <span class="text-gray-400">₹{{ shoppingCart.getTipAmount() }}</span>
                        <button (click)="addTip(0)" class="text-green-400">Clear</button>
                    </div>
                </div>
                <p class="mt-1 text-xs text-gray-400">
                    Your kindness means a lot! 100% of your tip will go directly to your delivery partner.
                </p>
                <!--
                                <div class="text-gray-400">
                                    <button class="p-2 flex justify-center items-center gap-2 bg-gray-700 rounded-lg hover:bg-gray-600
                                                    focus:outline-none focus:ring-2 focus:ring-cyan-400 transition-all"
                                        (click)="addTip(20)">
                                        <span>emoticon</span>
                                        <span class="">₹20</span>
                                    </button>
                                </div>
                -->

                <div *ngIf="!isCustomTipOpened" class="py-2 flex gap-2 ">
                    <!-- Tip Option 1 -->
                    <button (click)="addTip(20)"
                            [ngClass]="{'border-green-500 bg-green-900 hover:bg-green-900': shoppingCart.getTipAmount() === 20}"
                            class="flex items-center gap-2 p-2 rounded-xl border border-gray-700 text-white text-sm
                                hover:bg-gray-800 transition">
                        <span class="text-xl">😄</span>
                        <span>₹20</span>
                    </button>

                    <!-- Tip Option 2 -->
                    <button (click)="addTip(30)"
                            [ngClass]="{'border-green-500 bg-green-900 hover:bg-green-900': shoppingCart.getTipAmount() === 30}"
                            class="flex items-center gap-2 p-2 rounded-xl border border-gray-700 text-white text-sm
                                hover:bg-gray-800 transition">
                        <span class="text-xl">🤩</span>
                        <span>₹30</span>
                    </button>

                    <!-- Tip Option 3 -->
                    <button (click)="addTip(50)"
                            [ngClass]="{'border-green-500 bg-green-900 hover:bg-green-900': shoppingCart.getTipAmount() === 50}"
                            class="flex items-center gap-2 p-2 rounded-xl border border-gray-700 text-white text-sm
                            hover:bg-gray-800 transition">
                        <span class="text-xl">😍</span>
                        <span>₹50</span>
                    </button>

                    <!-- Custom Tip Option -->
                    <button (click)="isCustomTipOpened = true"
                            [ngClass]="{'border-green-500 bg-green-900 hover:bg-green-900': checkIsCustomTipApplied()}"
                            class="flex items-center gap-2 p-2 rounded-xl border border-gray-700 text-white text-sm
                                hover:bg-gray-800 transition">
                        <span class="text-xl">👏</span>
                        <span>Custom</span>
                    </button>
                </div>

                <div *ngIf="isCustomTipOpened" class="flex items-start gap-3 bg-[#1f1f1f] text-white text-sm">
                    <!-- Custom Button -->
                    <button
                        class="flex flex-col items-center justify-center px-2 rounded-xl border border-green-500
                                bg-green-900 text-white min-w-[90px]">
                        <span class="text-xl">👏</span>
                        <span>Custom</span>
                    </button>

                    <!-- Input + Error + Action -->
                    <div class="flex flex-col gap-1">
                        <!-- Input + Action -->
                        <div class="w-full flex items-center gap-3">
                            <!-- Number Input -->
                            <input type="number" min="0" max="3000"
                                   [ngModel]="customTipValue"
                                   (ngModelChange)="customTipValue = Math.floor($event)"
                                   class="bg-black text-white px-3 py-1 rounded border border-gray-700
                                            focus:outline-none focus:ring-1 focus:ring-green-500 w-[100px]">

                            <!-- Action Button -->
                            <!-- For Error Case -->
                            <span *ngIf="customTipValue < 10 || customTipValue > 3000"
                                  (click)="isCustomTipOpened = false"
                                  class="ml-auto text-gray-400 cursor-pointer hover:underline">Close</span>

                            <!-- For Valid Input -->
                            <span *ngIf="customTipValue >= 10 && customTipValue <= 3000"
                                  (click)="addTip(customTipValue)"
                                  class="ml-auto text-green-500 cursor-pointer hover:underline">Add</span>
                        </div>

                        <!-- Error Message -->
                        <p *ngIf="customTipValue < 10"
                           class="text-xs text-red-500">Tip amount should be greater than ₹10</p>
                        <p *ngIf="customTipValue > 3000"
                           class="text-xs text-red-500">Tip amount should be less than ₹3000</p>
                    </div>
                </div>


            </div>

            <!-- Cancellation Policy Section -->
            <div class="m-2 mb-4 p-2 bg-gray-800 border-b border-gray-700 rounded-lg">
                <h3 class="text-sm font-semibold mb-2 px-2">Cancellation Policy</h3>
                <p class="text-xs text-gray-400 px-2">Orders cannot be cancelled once packed for delivery. In case of
                    unexpected delays, a refund will be provided, if applicable.</p>
            </div>

        </div>

        <!-- Sticky Bottom Section (Address and Proceed to Pay) -->
        <div class="mt-auto bg-gray-800">
            <!-- Delivery Address Section -->
            <div class="px-4 py-2 bg-gray-800 border-y border-gray-700 px-2">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <div class="w-5 h-5">
                            <svg class="w-full h-full text-cyan-400" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827
                                      0l-4.244-4.243a8 8 0 1111.314 0z"/>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                            </svg>
                        </div>
                        <div>
                            <span class="text-sm font-medium">Delivering to WTP</span>
                            <p class="text-xs text-gray-400">WTP Floor, Tower WTP, Jaipur...</p>
                        </div>
                    </div>
                    <button class="text-xs text-cyan-400 hover:underline">Change</button>
                </div>
            </div>

            <!-- Total and Proceed to Pay Section -->
            <div class="m-4 px-4 py-2 flex justify-between items-center bg-green-700 cursor-pointer
                        border-t border-cyan-700 rounded-lg">
                <div class="flex flex-col">
                    <span class="text-lg font-semibold">₹{{ shoppingCart.getTotalPrice() }}</span>
                    <span class="text-sm">TOTAL</span>
                </div>
                <div>
                    <span class="text-lg ">Proceed To Pay</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mb-0.5 inline-block" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
