<div class="my-4 p-4 flex justify-between border">

  <!-- [FUTURE SCOPE] - Player Mode -->
<!--  <section class="w-[20%] ml-4 flex flex-col items-start gap-2 text-xl"></section>-->

  <!-- Scoreboard -->
  <section class="flex gap-10 justify-center">
    <div id="id-div-player-1-score"
         [ngClass]="{
            'font-bold': player1.hasTurn,
            'opacity-50': !player1.hasTurn,
            'text-green-500': player1.isWinner,
         }"
         class="w-fit flex flex-col items-center gap-2 text-xl font-bold">
      <span>{{ player1.name }} ( {{ player1.symbol }} )</span>
      <span id="id-span-player-1-score">{{ player1.score }}</span>
    </div>
    <div id="id-div-tie-score"
         [ngClass]="{
            'font-bold text-green-500': gameStatus === GameStatus.TIE,
            'opacity-50': gameStatus !== GameStatus.TIE,
         }"
         class="w-fit flex flex-col items-center gap-2 text-xl opacity-50">
      <span>TIE</span>
      <span id="id-span-tie-score"> {{ gameStateService.getTieScore() }}</span>
    </div>
    <div id="id-div-player-2-score"
         [ngClass]="{
            'font-bold': player2.hasTurn,
            'opacity-50': !player2.hasTurn,
            'text-green-500': player2.isWinner,
         }"
         class="w-fit flex flex-col items-center gap-2 text-xl opacity-50">
      <span>{{ player2.name }} ( {{ player2.symbol }} )</span>
      <span id="id-span-player-2-score">{{ player2.score }}</span>
    </div>
  </section>

</div>
