<div class="w-full h-[5000px]">

  <!--  Section 1 -   -->
  <section class="w-full h-fit bg-[#181A1B] border-2 border-gray-400">

    <h2 class="w-fit h-fit mx-auto my-4 text-2xl text-center border-2 border-red-500">Section 1</h2>

    <!--  Row 1  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

    <!--  Row 2  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

    <!--  Row 3  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-fill w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-fill w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-fill w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-fill w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

    <!--  Row 4  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-contain w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-contain w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-contain w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-contain w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

    <!--  Row 5  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-cover w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-cover w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-cover w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-cover w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

    <!--  Row 6  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-none w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-none w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-none w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-none w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

    <!--  Row 7  -->
    <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center border-2 border-green-500">

      <div class="w-[400px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-scale-down w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-scale-down w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[400px] h-[200px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-scale-down w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

      <div class="w-[200px] h-[400px] p-0.5 border-2 border-cyan-500">
        <img src="assets/unsorted/02-pizza-300x300.jpg" alt="Image"
             class="object-scale-down w-full h-full p-0.5 border-2 border-yellow-500"/>
      </div>

    </div>

  </section>


  <!--  Section 2 -   -->
  <section class="w-full h-fit bg-[#181A1B] border-2 border-blue-500">
    <div class="w-[90%] h-fit mx-auto my-16 flex flex-col border-2">

      <h2 class="w-fit h-fit mx-auto my-4 text-2xl text-center border-2 border-red-500">Section 2</h2>

      <!--  Row 1  -->
      <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center items-center border-2 border-green-500">

        <!--  Container 1  -->
        <div class="w-[300px] h-[300px] mx-auto p-4 border-2 border-cyan-500">
          <img src="https://placehold.co/100x100/grey/black?font=roboto&text=100 x 100" alt="Image 1"
               class="w-full h-full border-2 border-yellow-500">
        </div>

        <!--  Container 2  -->
        <div class="w-[300px] h-[300px] mx-auto p-4 border-2 border-cyan-500">
          <img src="https://placehold.co/100x100/grey/black?font=roboto&text=100 x 100"
               alt="Image 2"
               class="w-full h-full object-cover border-2 border-yellow-500">
        </div>

        <!--  Container 3  -->
        <div class="w-[300px] h-[300px] mx-auto p-4 border-2 border-cyan-500">
          <img src="https://placehold.co/100x100/grey/black?font=roboto&text=100 x 100"
               alt="Image 3"
               class="w-fit h-fit border-2 border-yellow-500">
        </div>

        <!--  Container 4  -->
        <div class="w-[300px] h-[300px] mx-auto p-4 border-2 border-cyan-500">
          <img src="https://placehold.co/100x100/grey/black?font=roboto&text=100 x 100"
               alt="Image 4"
               class="w-fit h-fit object-cover border-2 border-yellow-500">
        </div>

      </div>


      <!--  Row 2  -->
      <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center items-center border-2 border-green-500">

        <!--  Container 5  -->
        <div class="w-[500px] h-[300px] my-16 mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/01-road-100x150.jpg"
               alt="Image 5"
               class="w-full h-full border-2 border-yellow-500">
        </div>

        <!--  Container 6  -->
        <div class="w-[500px] h-[300px] my-16 mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/01-road-100x150.jpg"
               alt="Image 5"
               class="w-full h-full object-cover border-2 border-yellow-500">
        </div>

        <!--  Container 7  -->
        <div class="w-[500px] h-[300px] my-16 mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/01-road-100x150.jpg"
               alt="Image 7"
               class="w-full h-full object-contain border-2 border-yellow-500">
        </div>

      </div>


      <!--  Row 3  -->
      <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center items-center border-2 border-green-500">

        <!--  Container 8  -->
        <div class="w-[400px] h-[300px] mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/03-food-grid-of-4-300x300.jpg"
               alt="Image 8"
               class="w-full h-full p-0.5 border-2 border-yellow-500">
        </div>

        <!--  Container 9  -->
        <div class="w-[300px] h-[300px] mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/03-food-grid-of-4-300x300.jpg"
               alt="Image 9"
               class="w-full h-full p-0.5 border-2 border-yellow-500">
        </div>

      </div>

      <!--  Row 4  -->
      <div class="w-fit h-fit mx-auto my-4 p-4 space-x-4 flex justify-center  border-2 border-green-500">

        <!--  Container 10  -->
        <div class="w-[400px] h-[350px] mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/03-food-grid-of-4-300x300.jpg"
               alt="Image 10"
               class="w-full h-full object-cover p-0.5 border-2 border-yellow-500">
        </div>

        <!--  Container 11  -->
        <div class="w-[400px] h-[350px] mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/03-food-grid-of-4-300x300.jpg"
               alt="Image 11"
               class="w-full h-full object-contain p-0.5 border-2 border-yellow-500">
        </div>

        <!--  Container 12  -->
        <div class="w-[400px] h-[350px] mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/03-food-grid-of-4-300x300.jpg"
               alt="Image 12"
               class="w-full h-full object-fill p-0.5 border-2 border-yellow-500">
        </div>

        <!--  Container 13  -->
        <div class="w-[400px] h-[350px] mx-auto p-4 border-2 border-cyan-500">
          <img src="assets/unsorted/03-food-grid-of-4-300x300.jpg"
               alt="Image 13"
               class="w-full h-full object-none p-0.5 border-2 border-yellow-500">
        </div>

      </div>

    </div>
  </section>


</div>
