<div class="m-2 flex flex-col gap-4 ">

    <div class="flex flex-col gap-4 " *ngFor="let category of categoryList">

        <!--  Category Name & See All  -->
        <div class="mt-4 flex justify-between">
            <span class="text-xl">{{ category.getName() }}</span>
            <button class="text-xl text-green-500" (click)="navigateToShoppingByCategory(category.getId())">See All
            </button>
        </div>

        <!--  Product Slider  -->
        <div class="mx-4 relative">

            <!-- Left Navigation Button -->
            <button
                *ngIf="shouldShowLeftButton(category.getId())"
                (click)="scrollLeft(category.getId())"
                class="absolute -left-3 top-1/2 -translate-y-1/2 z-10 bg-white/80 hover:bg-white
                        shadow-md rounded-full p-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-800" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                </svg>
            </button>

            <!-- Product List Container -->
            <div
                [id]="'slider-' + category.getId()"
                class="flex gap-6 overflow-x-auto scroll-smooth [-ms-overflow-style:none] [scrollbar-width:none]"
                [ngClass]="{'[&::-webkit-scrollbar]:hidden': true}">

                <div
                    *ngFor="let product of this.productService.getProductListByCategoryId(category.getId())"
                    class="flex-shrink-0">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>

            <!-- Right Navigation Button -->
            <button
                *ngIf="shouldShowRightButton(category.getId())"
                (click)="scrollRight(category.getId())"
                class="absolute -right-3 top-1/2 -translate-y-1/2 z-10 bg-white/80 hover:bg-white
                        shadow-md rounded-full p-2 transition-all">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-800" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                </svg>
            </button>
        </div>

    </div>

</div>
