/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000001;
  color: #FFF;
}

.global-style-button-1 {
  padding: 10px;
  background-color: lightblue;
  color: blueviolet;
  font-size: 24px;
  border-radius: 16px;
}
