<nav class="w-full h-20 flex bg-gray-900 border-b border-gray-800 sticky top-0 z-[50] ">

    <!--  Logo  -->
    <a class="w-48 px-8 py-4 flex items-center text-3xl" routerLink="/">
        <img class="w-full h-full border" src="/assets/icons/01-sample-icon.svg" alt="Logo">
    </a>


    <!--  Delivery Location  -->
    <app-delivery-location class="w-72 px-8 flex flex-col justify-center"></app-delivery-location>
    <!--
        <div class="w-72 px-8 flex flex-col justify-center">
            <span class="text-xl font-bold">Delivery in 11 minutes</span>
            <div class="w-56 flex items-center">
                <span class="text-gray-300 font-bold">WTP</span>
                <span>-</span>
                <div class="w-40 overflow-hidden text-ellipsis whitespace-nowrap">
                    434, A-2 Tower, WTP Jawahar Lal Nehru Marg, D-Block, Malviya Nagar, Jaipur
                </div>
                <span class="w-4 h-4 ml-auto flex justify-center items-center bg-gray-600">
                    <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
                </span>
            </div>
        </div>
    -->


    <!--  Search Bar  -->
    <div class="w-[1150px] min-w-[800px] mx-auto my-2 px-2 flex gap-1 items-center bg-gray-800 rounded-xl">
        <!--  Search Icon  -->
        <button class="w-8 h-8 flex justify-center items-center  rounded-xl">
            <img class="w-6 h-6" src="/assets/icons/01-sample-icon.svg" alt="search-icon">
        </button>
        <input class="w-full h-10 my-2 px-1 bg-gray-800 text-white focus:outline-none" type="text"
               placeholder="Search for fruits, vegetables, dairy products.">
        <!--  Clear Icon  -->
        <button class="w-8 h-8 flex justify-center items-center  rounded-xl">
            <img class="w-6 h-6" src="/assets/icons/01-sample-icon.svg" alt="clear-icon">
        </button>
    </div>

    <!--  My Account  -->

    <ng-container *ngIf="!!this.userService.getLoggedInUser(); else showLoginBtn">
        <app-my-account class="w-fit ml-auto flex gap-3 items-center text-2xl"></app-my-account>
    </ng-container>
    <ng-template #showLoginBtn>
        <!--<a routerLink="/login"
           class="w-fit ml-auto px-8 py-2 text-gray-200 bg-gray-800 hover:bg-gray-700 rounded-lg">
            Login
        </a>-->
        <!-- Account Button -->
        <a routerLink="/login" class="relative w-fit px-4 flex gap-3 items-center text-2xl">
            <span>Login</span>
            <img class="w-4 h-4" src="/assets/icons/01-sample-icon.svg" alt="dropdown-icon">
        </a>
    </ng-template>

    <!--  Shopping Cart  -->
    <app-shopping-cart class="w-48 ml-auto px-8 py-2"></app-shopping-cart>

</nav>
