<!-- Game gameBoard - 3x3 Grid with Borders for Tic Tac Toe -->
<section class="w-fit h-fit mx-auto my-10 flex flex-col gap-1 bg-gray-400 text-5xl">

  <div class="flex gap-1">
    <button id="id-btn-cell-1" class="w-32 h-32 bg-black data-cell"></button>
    <button id="id-btn-cell-2" class="w-32 h-32 bg-black data-cell"></button>
    <button id="id-btn-cell-3" class="w-32 h-32 bg-black data-cell"></button>
  </div>

  <div class="flex gap-1">
    <button id="id-btn-cell-4" class="w-32 h-32 bg-black data-cell"></button>
    <button id="id-btn-cell-5" class="w-32 h-32 bg-black data-cell"></button>
    <button id="id-btn-cell-6" class="w-32 h-32 bg-black data-cell"></button>
  </div>

  <div class="flex gap-1">
    <button id="id-btn-cell-7" class="w-32 h-32 bg-black data-cell"></button>
    <button id="id-btn-cell-8" class="w-32 h-32 bg-black data-cell"></button>
    <button id="id-btn-cell-9" class="w-32 h-32 bg-black data-cell"></button>
  </div>

</section>
