<!--<div class="">-->

    <section class="w-full h-full mr-auto px-4 py-2 relative border bg-[#2B2D30] text-white">

        <nav class="flex justify-between ">   <!-- Navbar - User Profile, Notification, Hide/Show Sidebar -->

            <!-- User Profile -->
            <div class="flex gap-2 items-center">
                <div><img alt="User Profile Icon" src="/assets/icons/01-sample-icon.svg"></div>
                <span>{{ currentUser.getName() }}</span>
                <div><img alt="Dropdown Icon" src="/assets/icons/01-sample-icon.svg"></div>
            </div>

            <div class="flex gap-1">
                <!-- Notifications Icon -->
                <button class="w-8 h-8 p-1 flex justify-center items-center ">
                    <img alt="Notifications Icon" class="w-full h-full" src="/assets/icons/01-sample-icon.svg">
                </button>

                <!-- Open/Close Sidebar Icon -->
                <button class="w-8 h-8 p-1 flex justify-center items-center ">
                    <img alt="Open/Close Sidebar Icon" class="w-full h-full" src="/assets/icons/01-sample-icon.svg">
                </button>
            </div>

        </nav>

        <section class="mt-6">   <!-- Main Panel -->
            <div>   <!-- Tabs -->

                <!-- Add Task -->
                <a class="mb-2 py-2 flex gap-2 items-center hover:bg-[#333333]" href="index.html">
                    <div class="w-6 h-6"><img alt="Add Task Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Index</span>
                </a>

                <!-- Search -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="./sidebar.html">
                    <div class="w-6 h-6"><img alt="Search Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Sidebar</span>
                </a>

                <!-- Inbox -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="#">
                    <div class="w-6 h-6"><img alt="Inbox Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Inbox</span>
                    <!--<span class="ml-auto mr-2">Counter</span>-->
                </a>

                <!-- Today -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="#">
                    <div class="w-6 h-6"><img alt="Today Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Today</span>
                    <!--<span class="ml-auto mr-2">Counter</span>-->
                </a>

                <!-- Upcoming -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="#">
                    <div class="w-6 h-6"><img alt="Upcoming Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Upcoming</span>
                    <!--<span class="ml-auto mr-2">Counter</span>-->
                </a>

                <!-- Labels -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]"
                   routerLink="/manage-labels">
                    <div class="w-6 h-6"><img alt="Labels Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Manage Labels</span>
                </a>

                <!-- Completed -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="#">
                    <div class="w-6 h-6"><img alt="Completed Icon" class="w-full h-full"
                                              src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Completed</span>
                    <!--<span class="ml-auto mr-2">Counter</span>-->
                </a>

            </div>
        </section>

        <section class="mt-6">   <!-- Favorites -->

            <div class="flex justify-between items-center">   <!-- Favorites Header -->
                <span>Favorites</span>
                <div class="mr-2"><img alt="Toggle List Icon" src="/assets/icons/01-sample-icon.svg"></div>
            </div>

            <div class="mt-2 ml-2">   <!-- Favorites List -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="project-details.html?id=1">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Project 1</span>
                    <div class="flex gap-1 items-center ml-auto mr-2">
                        <!--<span>Counter</span>-->
                        <button><img alt="More Options Icon" src="/assets/icons/01-sample-icon.svg"></button>
                    </div>
                </a>
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="labels-list.html">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Labels</span>
                    <div class="flex gap-1 items-center ml-auto mr-2">
                        <!--<span>Counter</span>-->
                        <button><img alt="More Options Icon" src="/assets/icons/01-sample-icon.svg"></button>
                    </div>
                </a>
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="manage-projects.html">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Manage Projects</span>
                    <div class="flex gap-1 items-center ml-auto mr-2">
                        <!--<span>Counter</span>-->
                        <button><img alt="More Options Icon" src="/assets/icons/01-sample-icon.svg"></button>
                    </div>
                </a>
            </div>

        </section>

        <!-- Projects -->
        <section class="mt-6 ">

            <a class="py-2 flex justify-between items-center hover:bg-[#333333]" href="manage-projects.html">
                <!-- Projects Header -->
                <div class="flex gap-2">
                    <span>Projects</span>
                    <span>Used 3/5</span>
                </div>
                <div class="flex gap-2">
                    <div><img alt="Add Project Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <div><img alt="Toggle List Icon" src="/assets/icons/01-sample-icon.svg"></div>
                </div>
            </a>

            <div class="mt-2 ml-2">   <!-- Projects List -->
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="project-details.html?id=1">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Project Name - 1</span>
                    <div class="flex gap-1 items-center ml-auto mr-2">
                        <!--<span>Counter</span>-->
                        <button><img alt="More Options Icon" src="/assets/icons/01-sample-icon.svg"></button>
                    </div>
                </a>
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="project-details.html?id=2">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Project Name - 2</span>
                    <div class="flex gap-1 items-center ml-auto mr-2">
                        <!--<span>Counter</span>-->
                        <button><img alt="More Options Icon" src="/assets/icons/01-sample-icon.svg"></button>
                    </div>
                </a>
                <a class="py-2 flex gap-2 items-center hover:bg-[#333333]" href="project-details.html?id=3">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Project Name - 3</span>
                    <div class="flex gap-1 items-center ml-auto mr-2">
                        <!--<span>Counter</span>-->
                        <button><img alt="More Options Icon" src="/assets/icons/01-sample-icon.svg"></button>
                    </div>
                </a>
            </div>

        </section>

        <!--
            <footer class="absolute bottom-4">
                &lt;!&ndash; Browse Templates &ndash;&gt;
                <a class="p-2 flex gap-2 items-center hover:bg-[#333333]" href="#">
                    <div><img alt="Fav Item Icon" src="/assets/icons/01-sample-icon.svg"></div>
                    <span>Browse Templates</span>
                </a>
            </footer>
        -->

    </section>

<!--</div>-->
