<div class="w-full p-4 flex gap-20 border border-gray-700 bg-gray-900 text-gray-200">

    <!--  Useful Links  -->
    <div class="w-96 ">
        <div class="text-xl mb-4">Useful Links</div>

        <div class="flex flex-col gap-2">
            <div class="flex justify-between">
                <span class="flex-1">About</span>
                <span class="flex-1">Privacy</span>
                <span class="flex-1">Partners</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Careers</span>
                <span class="flex-1">Terms</span>
                <span class="flex-1">Franchise</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Blog</span>
                <span class="flex-1">FAQs</span>
                <span class="flex-1">Seller</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Press</span>
                <span class="flex-1">Security</span>
                <span class="flex-1">Warehouse</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Lead</span>
                <span class="flex-1">Mobile</span>
                <span class="flex-1">Deliver</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Value</span>
                <span class="flex-1">Contact</span>
                <span class="flex-1">Resources</span>
            </div>
        </div>
    </div>

    <!--  Categories  -->
    <div class="w-[800px]  items-center ">
        <div class="flex gap-4 items-center">
            <span class="text-xl">Categories</span>
            <span class="text-green-500">See All</span>
        </div>

        <div class="mt-4 flex flex-col gap-2">
            <div class="flex justify-between">
                <span class="flex-1">Vegetables & Fruits</span>
                <span class="flex-1">Dairy & Breakfast</span>
                <span class="flex-1">Munchies</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Cold Drinks & Juices</span>
                <span class="flex-1">Instant & Frozen Food</span>
                <span class="flex-1">Tea, Coffee & Health Drinks</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Bakery & Biscuits</span>
                <span class="flex-1">Sweet Tooth</span>
                <span class="flex-1">Atta, Rice & Dal</span>
            </div>

            <div class="flex justify-between">
                <span class="flex-1">Dry Fruits, Masala & Oil</span>
                <span class="flex-1">Sauces & Spreads</span>
                <span class="flex-1">Chicken, Meat & Fish</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Paan Corner</span>
                <span class="flex-1">Organic & Premium</span>
                <span class="flex-1">Baby Care</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Pharma & Wellness</span>
                <span class="flex-1">Cleaning Essentials</span>
                <span class="flex-1">Home & Office</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Ice Creams & Frozen Desserts</span>
                <span class="flex-1">Personal Care</span>
                <span class="flex-1">Pet Care</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Beauty & Cosmetics</span>
                <span class="flex-1">Fashion & Accessories</span>
                <span class="flex-1">Electronics & Electricals</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Stationery Needs</span>
                <span class="flex-1">Books</span>
                <span class="flex-1">Toys & Games</span>
            </div>
            <div class="flex justify-between">
                <span class="flex-1">Print Store</span>
                <span class="flex-1">Navratri Specials</span>
                <span class="flex-1"></span>
            </div>

        </div>

    </div>

</div>
