<h3>Structural Directive - ngIf</h3>

<div>

  <!--  If ElseIf Else Block - using Short-hand Syntax -->
  <div *ngIf="pizza.isAvailable; else elseIfBlock">
    <p>{{ pizza.name }} is available!</p>
  </div>
  <ng-template #elseIfBlock>
    <div *ngIf="pizza.isComingSoon; else elseBlock">
      <p>{{ pizza.name }} is coming soon!</p>
    </div>
    <ng-template #elseBlock>
      <p>{{ pizza.name }} is not available.</p>
    </ng-template>
  </ng-template>

  <!--  If ElseIf Else Block - using Expanded Syntax  -->
  <ng-template [ngIf]="pizza.isAvailable">
    <p>{{ pizza.name }} is available!</p>
  </ng-template>
  <ng-template [ngIf]="!pizza.isAvailable">
    <ng-template [ngIf]="pizza.isComingSoon">
      <p>{{ pizza.name }} is coming soon!</p>
    </ng-template>
    <ng-template [ngIf]="!pizza.isComingSoon">
      <p>{{ pizza.name }} is not available.</p>
    </ng-template>
  </ng-template>

  <!--  *ngIf with *ngFor  -->
  <ul *ngIf="pizza.isAvailable">
    <li *ngFor="let itemName of itemList">{{ itemName }}.</li>
  </ul>

  <!--  [ngIf] with *ngFor  -->
  <ng-template [ngIf]="pizza.isAvailable">
    <ul>
      <li *ngFor="let itemName of itemList">{{ itemName }}.</li>
    </ul>
  </ng-template>

  <!--  Combining Multiple Directives - using Expanded Syntax  -->
  <ng-template [ngIf]="itemName !== 'Pizza'" *ngFor="let itemName of itemList">
    <p>{{ itemName }} is available!</p>
  </ng-template>

  <!--
    &lt;!&ndash; This will cause an error because multiple structural directives cannot be applied directly to short-hand syntax &ndash;&gt;
    <div *ngIf="pizza.isAvailable" *ngFor="let itemName of itemList">
      {{ itemName }}
    </div>
  -->

</div>
