<div class="w-[80%] mx-auto my-4 py-4 flex justify-between border">

  <!-- Player Mode -->
  <section class="w-[20%] ml-4 flex flex-col items-start gap-2 text-xl">
    <!--<button id="id-btn-single-player"
            class="opacity-50 hover:font-bold hover:text-white hover:opacity-100 cursor-pointer">Single Player
    </button>
    <button id="id-btn-double-player" class="font-bold cursor-pointer">Double Player</button>-->
  </section>

  <!-- Scoreboard -->
  <section class="w-[60%] flex gap-10 justify-center">
    <div id="id-div-player-1-score" class="w-fit  flex flex-col items-center gap-2 text-xl font-bold">
      <span>PLAYER 1 ( X )</span>
      <span id="id-span-player-1-score">0</span>
    </div>
    <div id="id-div-tie-score" class="w-fit flex flex-col items-center gap-2 text-xl opacity-50">
      <span>TIE</span>
      <span id="id-span-tie-score">0</span>
    </div>
    <div id="id-div-player-2-score" class="w-fit  flex flex-col items-center gap-2 text-xl opacity-50">
      <span>PLAYER 2 ( O )</span>
      <span id="id-span-player-2-score">0</span>
    </div>
  </section>

  <!-- Game Settings -->
  <section class="w-[20%] px-2 flex flex-col items-center gap-2 text-xl">
    <button id="id-btn-restart" class="w-20  flex hover:font-bold cursor-pointer">
      RESTART
    </button>
    <button id="id-btn-reset" class="w-20  flex hover:font-bold cursor-pointer">
      RESET
    </button>
  </section>

</div>
