#dummy {
    color: rgb(232, 234, 237);      /* #E8EAED */
    color: rgb(95, 99, 104);        /* #5F6368 */
    color: rgb(138, 180, 248);      /* #8AB4F8 */
    color: rgb(218, 220, 224);      /* #DADCE0 */
    color: rgb(138, 180, 248);      /* #8AB4F8 */
}