<ng-container *ngIf="getInfoPopupType()">
    <div *ngIf="getInfoPopupType() !== InfoPopupType.NONE"
         (click)="infoPopupService.closePopup()"
         class="fixed inset-0 z-[60] flex items-center justify-center bg-black bg-opacity-60">

        <div (click)="$event.stopPropagation()"
             class="bg-zinc-900 rounded-lg px-6 pt-6 pb-4 text-white shadow-2xl border border-zinc-700">

            <ng-container [ngSwitch]="getInfoPopupType()">

                <div *ngSwitchCase="InfoPopupType.DELIVERY" class="w-96 space-y-2">
                    <h3 class="text-lg font-semibold mb-2 text-blue-400">Delivery Charge</h3>
                    <p class="text-sm text-gray-300">₹30 for orders below ₹199</p>
                    <p class="text-sm text-gray-300">₹0 for orders above ₹199</p>
                </div>

                <div *ngSwitchCase="InfoPopupType.HANDLING" class="w-96 space-y-2">
                    <h3 class="text-lg font-semibold mb-2 text-yellow-400">Handling Charge</h3>
                    <p class="text-sm text-gray-300">₹20 applied to all orders for packaging</p>
                </div>

                <div *ngSwitchCase="InfoPopupType.SMALL_CART" class="w-fit space-y-2">
                    <h3 class="text-lg font-semibold mb-2 text-red-400">Small Cart Fee</h3>
                    <p class="text-sm text-gray-300">
                        Please add more items to avoid this charge. We're charging a fee for orders below
                        ₹{{ MultipleChargesModel.THRESHOLD_FOR_SMALL_CART }} to
                        continue servicing your small requirements
                    </p>
                </div>

                <div *ngSwitchCase="InfoPopupType.HIGH_DEMAND_SURGE" class="w-96 space-y-2">
                    <h3 class="text-lg font-semibold mb-2 text-red-400">High Demand Surge Charge</h3>
                    <p class="text-sm text-gray-300">No surge charge for orders above
                        ₹{{ MultipleChargesModel.THRESHOLD_FOR_HIGH_DEMAND_SURGE_CHARGE }}</p>
                </div>

                <div *ngSwitchCase="InfoPopupType.FEED_INDIA" class="w-[800px] space-y-2 text-center">
                    <h3 class="text-lg font-semibold mb-2 text-red-400">Daily Feeding Program</h3>
                    <p class="text-sm text-gray-300">
                        Working towards a malnutrition-free India. Feeding India is a not-for-profit organisation,
                        working to solve hunger, malnutrition and food wastage in India. Your contribution will help us
                        serve regular meals to marginalized communities across India. All donations made by Indian
                        taxpayers are eligible for tax deduction under Section 80G of the Income Tax Act, 1961 Please
                        refer the link https://www.feedingindia.org/terms/donor for detailed terms & conditions
                    </p>
                </div>
                <!-- Add more cases here if needed -->
            </ng-container>
            <button (click)="infoPopupService.closePopup()"
                    class="mt-5 w-full px-4 text-[#56f06f] font-semibold rounded-lg transition-all">
                Sounds good
            </button>
        </div>

    </div>
</ng-container>
