<h1>This is the `app-root` component.</h1>

<!--<app-comp1></app-comp1>-->

<!--<app-inline-template></app-inline-template>-->
<!--<app-comp-selector-demo></app-comp-selector-demo>-->

<!--<app-data-binding></app-data-binding>-->
<!--<app-style-scoping-demo></app-style-scoping-demo>-->
<!--<app-ng-class-and-style></app-ng-class-and-style>-->
<!--<app-demo-ng-model></app-demo-ng-model>-->

<!--<app-demo-ng-if></app-demo-ng-if>-->
<!--<app-demo-ng-for></app-demo-ng-for>-->
<!--<app-demo-ng-switch></app-demo-ng-switch>-->

<!--<app-demo-transaction></app-demo-transaction>-->

<!--<app-di-1></app-di-1>-->
<!--<app-di-2></app-di-2>-->
<!--<app-di-3></app-di-3>-->
<!--<app-di-4></app-di-4>-->

<!--<app-di-providers-1></app-di-providers-1>-->
<!--<app-di-providers-2></app-di-providers-2>-->
<!--<app-di-providers-3></app-di-providers-3>-->

<!--<app-attributes-vs-properties></app-attributes-vs-properties>-->

<!--<app-demo-events-1></app-demo-events-1>-->

<app-demo-event-filtering></app-demo-event-filtering>
