<div class="w-full h-full bg-[#202125]">

  <!-- Google Navbar -->
  <nav class="w-full h-[60px] p-1.5 flex justify-between border-2 border-cyan-500">

    <!-- Navbar Left Section - About and Store Links -->
    <div class="ml-2.5 flex items-center text-sm text-[#e8e8e8]">
      <a href="#" class="mx-[5px] p-[5px]">About</a>
      <a href="#" class="mx-[5px] p-[5px]">Store</a>
    </div>

    <!-- Navbar Right Section - Gmail, Images, Search Labs, Google Apps, User Profile Icons -->
    <div class="pl-8 flex items-center text-sm">

      <!-- Gmail and Images Links -->
      <div class="mx-[15px] space-x-[15px] flex items-center text-sm">
        <a href="#" class=" text-[13px] leading-6">Gmail</a>
        <a href="#" class=" text-[13px] leading-6">Images</a>
      </div>

      <!-- Icons Section - Search Labs, Google Apps, User Profile Icons -->
      <div class="flex items-center">

        <!-- Search Labs Icon -->
        <div class="mr-1 py-1 pr-1 flex items-center">
          <a href="#" class="w-10 h-10 p-2">
            <svg class="gb_D" focusable="false" fill="#fff" height="24px" viewBox="0 -960 960 960" width="24px">
              <path
                d="M209-120q-42 0-70.5-28.5T110-217q0-14 3-25.5t9-21.5l228-341q10-14 15-31t5-34v-110h-20q-13 0-21.5-8.5T320-810q0-13 8.5-21.5T350-840h260q13 0 21.5 8.5T640-810q0 13-8.5 21.5T610-780h-20v110q0 17 5 34t15 31l227 341q6 9 9.5 20.5T850-217q0 41-28 69t-69 28H209Zm221-660v110q0 26-7.5 50.5T401-573L276-385q-6 8-8.5 16t-2.5 16q0 23 17 39.5t42 16.5q28 0 56-12t80-47q69-45 103.5-62.5T633-443q4-1 5.5-4.5t-.5-7.5l-78-117q-15-21-22.5-46t-7.5-52v-110H430Z"></path>
            </svg>
          </a>
        </div>

        <!-- Google Apps Icon -->
        <div class="p-1 flex items-center">
          <a href="#" class="w-10 h-10 p-2">
            <svg class="gb_E" focusable="false" fill="#fff" viewBox="0 0 24 24">
              <path
                d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path>
              <image src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt="" height="24" width="24"
                     style="border: none; --darkreader-inline-border-top: none; --darkreader-inline-border-right: none; --darkreader-inline-border-bottom: none; --darkreader-inline-border-left: none;"
                     data-darkreader-inline-border-top="" data-darkreader-inline-border-right=""
                     data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left=""></image>
            </svg>
          </a>
        </div>

        <!-- User Profile Icon -->
        <div class="w-12 h-12 mr-1 ">
          <a href="#" class="w-12 h-12 flex justify-center items-center">
            <svg focusable="false" height="40px" viewBox="0 0 40 40" width="40px" xml:space="preserve"
                 xmlns="http://www.w3.org/2000/svg" style="opacity:1.0"><path d="M4.02,28.27C2.73,25.8,2,22.98,2,20c0-2.87,0.68-5.59,1.88-8l-1.72-1.04C0.78,13.67,0,16.75,0,20c0,3.31,0.8,6.43,2.23,9.18L4.02,28.27z" fill="#F6AD01" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #febc20;"></path>
              <path
                d="M32.15,33.27C28.95,36.21,24.68,38,20,38c-6.95,0-12.98-3.95-15.99-9.73l-1.79,0.91C5.55,35.61,12.26,40,20,40c5.2,0,9.93-1.98,13.48-5.23L32.15,33.27z"
                fill="#249A41" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #6adc86;"></path>
              <path
                d="M33.49,34.77C37.49,31.12,40,25.85,40,20c0-5.86-2.52-11.13-6.54-14.79l-1.37,1.46C35.72,9.97,38,14.72,38,20c0,5.25-2.26,9.98-5.85,13.27L33.49,34.77z"
                fill="#3174F1" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #3f98f2;"></path>
              <path
                d="M20,2c4.65,0,8.89,1.77,12.09,4.67l1.37-1.46C29.91,1.97,25.19,0,20,0l0,0C12.21,0,5.46,4.46,2.16,10.96L3.88,12C6.83,6.08,12.95,2,20,2"
                fill="#E92D18" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #eb422f;"></path></svg>
          </a>
        </div>

      </div>
    </div>

  </nav>


  <section class="h-[800px] border-2 border-blue-500">
    <h2>Google</h2>
    <div>
      <input type="text">
    </div>
    <div>
      <button>Google Search</button>
      <button>I'm Feeling Lucky</button>
    </div>
    <div>
      <span>Google offered in:</span>
      <a href="#">हिन्दी</a>
      <a href="#">বাংলা</a>
      <a href="#">తెలుగు</a>
      <a href="#">मराठी</a>
      <a href="#">தமிழ்</a>
      <a href="#">ગુજરાતી</a>
      <a href="#">ಕನ್ನಡ</a>
      <a href="#">മലയാളം</a>
      <a href="#">ਪੰਜਾਬੀ</a>
    </div>
  </section>

  <footer class="h-[100px] bg-[#171718] border-2 border-blue-300">
    <div>
      <span>India</span>
    </div>

    <div>
      <div>
        <span>Advertising</span>
        <span>Business</span>
        <span>How Search works</span>
      </div>
      <div>
        <span>Privacy</span>
        <span>Terms</span>
        <span>Settings</span>
      </div>
    </div>
  </footer>

</div>
