<main class="w-1/2 mx-auto mt-20 border">

  <app-status-msg [message]="statusMsgService.getStrStatusMsg()"></app-status-msg>

  <!-- Dropdown with Player 1 & Player 2 values -->
  <select class="w-1/2 mx-auto mt-4 p-2 bg-gray-800 text-white rounded-md shadow-md" (change)="selectPlayer($event)">
    <option value="1">Player 1</option>
    <option value="2">Player 2</option>
  </select>

  <!-- Dropdown with Game Status values -->
  <select class="w-1/2 mx-auto mt-4 p-2 bg-gray-800 text-white rounded-md shadow-md"
          (change)="selectGameStatus($event)">
    <option value="{{ GameStatus.IN_PROGRESS }}">{{ GameStatus.IN_PROGRESS }}</option>
    <option value="{{ GameStatus.WIN }}">{{ GameStatus.WIN }}</option>
    <option value="{{ GameStatus.TIE }}">{{ GameStatus.TIE }}</option>
  </select>


  <!--
    <app-board></app-board>

    <app-scoreboard></app-scoreboard>
  -->

</main>

